<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Demo-App</title>
    <link rel="stylesheet" href="css_.css">
</head>
<body>
    <section id="demo-app">
        <header id="demo-header">
            <h1>Demo-App</h1>
            <input id="demo-input" value="" placeholder="Nhập Bất Cứ Thứ Gì Bạn Muốn ?" autofocus>
        </header>
        <section id="demo-main">
            <input id="demo-toggle-all" type="checkbox">
            <label for="toggle-all">Mark all as complete</label>

            <ul id="demo-lists">
                <li>
                    <div class="demo-view">
                        <input type="checkbox" class="demo-toggle">
                        <label for="">A</label>
                        <button class="demo-destroy"></button>
                    </div>
                </li>
                <li>
                    <div class="demo-view">
                        <input type="checkbox" class="demo-toggle">
                        <label for="">B</label>
                        <button class="demo-destroy"></button>
                    </div>
                </li>
                <li>
                    <div class="demo-view">
                        <input type="checkbox" class="demo-toggle">
                        <label for="">C</label>
                        <button class="demo-destroy"></button>
                    </div>
                </li>
                <li>
                    <div class="demo-view">
                        <input type="checkbox" class="demo-toggle">
                        <label for="">C</label>
                        <button class="demo-destroy"></button>
                    </div>
                </li>
            </ul>
        </section>

        <footer id="demo-footer">
            <span id="demo-count"><strong>1</strong>Items left</span>
            <ul id="demo-filters">
                <li>
                    <a class="demo-selected" href="#">All</a>
                </li>
                <li>
                    <a class="demo-selected" href="#">Active</a>
                </li>
                <li>
                    <a class="demo-selected" href="#"> Completed</a>
                </li>
            </ul>
        </footer>
    </section>
</body>
</html>